    <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/admin.html :: headerfiles(title='Storico Ordini')"> 
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ced3f913ea.js" crossorigin="anonymous"></script>
</head>
<header th:replace="fragments/admin.html :: header"></header>


<body>

<div class="space"></div>
<div class="table-div">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cliente</th>
      <th scope="col">Orario</th>
      <th scope="col">Fattorino</th>
      <th scope="col">Prezzo</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="o : ${ordine}">
      <th scope="row" th:text="${o.id}"></th>
      <td th:text="${o.cliente.nome}"></td>
      <td th:text="${o.orario}"></td>
      <td th:text="${o.fattorino.nome}"></td>
      <td th:text="${o.totale}">prezzo</td>
    </tr>
    
  </tbody>
</table>
</div>



</body>
</html>