<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="headerfiles(title)">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title th:text="${title}"></title>
	<link rel="shortcut icon" href="images/pizza_icon.ico" />
	<link th:href="@{/css/default.css}" rel="stylesheet">
	<script src="https://kit.fontawesome.com/ced3f913ea.js" crossorigin="anonymous"></script>

</head>
<body>
    <div class="box-area">
    <header th:fragment="header">
			<div class="wrapper">
				<div class="logo">
                    <img src="images/logo2.png"/>
					
				</div>
				  <ul class="nav">
                    <li><a href="#">LA NOSTRA PIZZA</a></li>
                    <li><a th:href="@{default/ordine}">ORDINA</a></li>
                    <li><a href="#">Cronologia ordini</a></li>
                  </ul>
                  <div class="btn">
                    <a href="#popup"><img src="images/account.png" alt=""> </a>
                  </div>
			</div>
		</header>

    </div>
    
   


<footer th:fragment="footer">
<div class="footer">
    <div class="footer-content">

      <div class="footer-section about">
        <h1 class="logo-text">Pizza Revolution</h1>
        <p>
          Qualcosa....
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i> &nbsp; (+39) 356-323-2351</span>
          <span><i class="fas fa-envelope"></i> &nbsp; PizzaR@gmail.com.com</span>
        </div>
        <div class="socials">
          <a href="https://www.facebook.com/pizzarevolutionpleonardo/"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

      <div class="footer-section links">
        <h2>Quick Links</h2>
        <br>
        <ul>
          <li><a href="#">La Pizza</a></li>
                <li><a href="#">Chi Siamo</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Ordina</a></li>
                <li><a href="#">Contattaci</a></li>
              </ul>
      </div>

      <div class="footer-section newsletter">
        <h2>Subscribe Our Newsletter & Join US</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <div class="newsletter-box">
            <i class="fas fa-envelope"></i>
            <input class="emailbox" type="email" name="" value="" placeholder="Enter your email id">
            <button type="button" name="button">Subscribe</button>
        </div>
    </div>
      </div>
      <div class="footer-bottom">
        © PizzaRevolution.com | by Angi S.R.L.
      </div>
    </div>
</footer>

    
  </div>
</body>
</html>