body{
	 background-color: tomato!important;
	 overflow: hidden!important;
}

header{
	position: relative;
}

.PizzaForm{
    display: flex;
    justify-content: center;
}
.pizza_foto{
    margin-top: 300px;
    
}
.pizza_foto input{
  border: 3px solid black;
  width: 300px;
  height: 300px;
  
}

.pizza_foto img{
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.pizza_foto img,.pizza_foto input{
  position: absolute;
  top: 250px;
  left: 600px;
}
.name input{
    height: 25px;
    width: 170px;
    font-size: 20px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

.prezzo input::-webkit-outer-spin-button,
.prezzo input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.prezzo input{
	background: transparent;
    border: none;
    width: 50px;
    height: 25px;
    font-size: 20px;
}
.prezzo input:focus{
    border: none;
    outline: none;
}
.prezzo .price_border{
    display: flex;
    flex-direction: row;
    padding-top: 4px;
    width: 80px;
    height: 30px;

    
}

.price_border::after{
    content: "€";
    font-size: 28px;
    margin-top: -8px;
    margin-left: 5px;
}

.ingredienti{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	
}
.ingredienti .secondo{

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}



  .PizzaForm .format{
    width: 40%;
    height: auto;
    margin-top: 250px;
    margin-left: 800px;
  }


.bt1 {
	position: absolute;
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left: 50%;
  top: 80%;
}

.bt1:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}





.pointer{
	cursor: pointer;
}

@media (min-width: 768px) {
  .bt1 {
    padding: 10px 30px;
  }
}
.space{
	width: 100%;
	height: 160px;
}
.table {
     width: 100%;
     max-width: 100%;
     margin-bottom: 1rem;
     background-color: transparent
 }

 .table thead th{
     border-top: 0;
     border-bottom-width: 1px;
     font-weight: 500;
     font-size: .875rem;
     text-transform: uppercase
 }

 .table td {
     font-size: 0.875rem;
     padding: .875rem 0.9375rem
 }
.table-div{
	margin: auto
	;
	width: 80%;
}