body{
	 background-color: tomato!important;
	 overflow: hidden!important;
}

.wrapper{
	position: relative;
}

.PizzaForm{
    display: flex;
    justify-content: center;
}
.pizza_foto{
    margin-top: 300px;
    
}
.pizza_foto input{
  border: 3px solid black;
  width: 300px;
  height: 300px;
  
}

.pizza_foto img{
  width: 300px;
  height: 300px;
  border: 1px solid black;
}
.pizza_foto img,.pizza_foto input{
  position: absolute;
  top: 250px;
  left: 600px;
}
.name input{
    height: 25px;
    width: 170px;
    font-size: 20px;
    background: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid black;
}

.prezzo input::-webkit-outer-spin-button,
.prezzo input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.prezzo input{
	background: transparent;
    border: none;
    width: 50px;
    height: 25px;
    font-size: 20px;
}
.prezzo input:focus{
    border: none;
    outline: none;
}
.prezzo .price_border{
    display: flex;
    flex-direction: row;
    padding-top: 4px;
    width: 80px;
    height: 30px;

    
}

.price_border::after{
    content: "€";
    font-size: 28px;
    margin-top: -8px;
    margin-left: 5px;
}

.ingredienti{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 100%;
	
}
.ingredienti .secondo{

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}



  .PizzaForm .format{
    width: 40%;
    height: auto;
    margin-top: 250px;
    margin-left: 800px;
  }


.bt1 {
	position: absolute;
  background-color: #13aa52;
  border: 1px solid #13aa52;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: none;
  outline: 0;
  padding: 10px 25px;
  text-align: center;
  transform: translateY(0);
  transition: transform 150ms, box-shadow 150ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  left: 50%;
  top: 80%;
}

.bt1:hover {
  box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
  transform: translateY(-2px);
}

table {
	margin-top: 70px;
	 margin-left:auto;
	 margin-right: auto;
  width: 50%;
  empty-cells: hide;
} 

.tabella a{
	text-decoration: none;
	color: black;
}

.tabella .blank{
	background-color: transparent;
	
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #04AA6D;
  color: white;
}
tr{
	background-color: #cfc9c9;
}
.pointer{
	cursor: pointer;
}
th, td {
	font-size: 18px;
  text-align: center;
}
 tr:hover {background-color: rgb(255, 255, 255);}
tr:nth-child(even) {background-color: aaa5a5;}

@media (min-width: 768px) {
  .bt1 {
    padding: 10px 30px;
  }
}