html{
    
    background: url("/images/pexels-vinicius-benedit-1082343.jpg") no-repeat center center fixed;
    background-size: cover;
}
.login-r {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    border: 5px solid #73AD21;
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-family: 'Titillium Web', sans-serif;
    
}

.login .head-login{
    font-family: 'Titillium Web', sans-serif;
    z-index: 2;
    height: 25%;
    
}
.login .head-login img{

    max-height: 100%;
    max-width: 100%;
}

.login-r .head-login img{

    max-height: 100%;
    max-width: 100%;
    height: 220px;
}

.login .credentials, .login-r .credentials{
   height: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.credentials .password{
    margin-top: 70px;
}
.credentials .p{
    margin-top: 70px;
}
.credentials .group1 input,.credentials .group1 textarea{
    text-transform: capitalize;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #3d3c3c;
    background-color: rgba(0,0,0,.5);
    background: transparent;
    font-size: 20px;
    color: white;
}
.credentials .group1 input::placeholder{
    color: white;
    opacity: 0.7;
}
.end-part{
    height: 25%;
    display: flex;
   align-items: center;
   justify-content: center;
   
}
.btn_login{
    cursor:pointer;
        font-weight: bold;
        color: #fff;
        background: linear-gradient(to bottom right, #ff7b00, #ff9408);
        padding: 15px 30px;
        border-radius: 25px;
        font-size: 25px;
}
.btn_login:hover{
    color: black;
}
  
  .login .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    z-index: 6;
  }
  .login .close:hover {
    color: #06D85F;
  }