* {
	margin: 0;
	padding: 0;
}
html, body {
    overflow-x: hidden;
    font-family: 'Titillium Web', sans-serif;
}
  
/*	#############################################################
    ###################### LOGIN ################################ */
	
  .container{
height: 100%;
align-content: center;
}

.card{
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}
.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}
 .btn_login{
	margin-top: 35px;
    cursor:pointer;
        font-weight: bold;
        color: #fff;
        background: linear-gradient(to bottom right, #ff7b00, #ff9408);
        padding: 15px 30px;
        border-radius: 25px;
        font-size: 25px;
}
.btn_login:hover{
    color: black;
}
  
 /*	#############################################################
    ###################### REGISTER ################################ */
.container_register{
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
  max-width: 700px;
  width: 100%;
  background-color:rgba(0,0,0,0.6);
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.container_register .title{
  font-size: 30px;
  font-weight: 500;
  position: relative;
  color: white;
}
.container_register .title::before {
    content: "";
    position: absolute;
    left: 244px;
    bottom: 0;
    height: 3px;
    width: 202px;
    border-radius: 5px;
    background: linear-gradient(135deg, #f71414, #ff8d00);
}


.content .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}


.content .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}

.content  .numeri{
  margin-bottom: 15px;
  width: calc(100% / 2 - 170px);
}


.numeri input::-webkit-outer-spin-button,
.numeri input::-webkit-inner-spin-button  {
  -webkit-appearance: none;
  margin: 0;
}
.tel input::-webkit-outer-spin-button,
.tel input::-webkit-inner-spin-button  {
  -webkit-appearance: none;
  margin: 0;
}


.content  span.details{
  display: block;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 15px;
  color: white;
}
.user-details  input,.user-details  textarea{
     text-transform: capitalize;
    width: 90%;
    box-sizing: border-box;
    outline: none;
    border: none;
    border-bottom: 2px solid #3d3c3c;
    background-color: rgba(0,0,0,.5);
    background: transparent;
    font-size: 20px;
    color: white;
}
.user-details .numeri input,.user-details .numeri textarea{
	width: 40%;
}
 .content .button{
	display: flex;
	justify-content: space-between;
   height: 45px;
   width: 100%;
   margin: 35px 0
 }
 
 .content .button div{
	flex: 50%;
}
 a:-webkit-any-link {
	text-decoration: none;
}
 .content .button input,.content .button_next, .content .button .back{
   height: 100%;
   width: 100%;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #D7932C, #FF9A00);
 }
 
 .content .button input:hover, .content .button_next:hover, .content .button .back:hover{
   transform: scale(0.99); 
  background: linear-gradient(-135deg, rgb(255, 128, 0), rgb(255, 128, 64));
  }
 
.button_back{
	border: 2px solid black;
}

#next {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

#step2:checked ~ #next {
  opacity: 1;
  height: auto;
}
#step2:checked ~ #part1 {
  opacity: 0;
  display: none;
}

 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
.content .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  .content .category{
    width: 100%;
  }
  .content  .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}

.first{
    width: 100%;
    height: 70%;
    background-color: rgb(255, 123, 0);
    text-align: center;
}
.first .img {
    padding-top: 80px;
    font-size: 30px;
}

.first .img p{
    font-family: 'News Cycle', sans-serif;
}
.first .img .head{
    font-size: 60px;
    padding-top: 30px;
}
.first .img .slogan{
    font-family: 'Architects Daughter', cursive;
    margin-bottom: 0;
}
.background{
    background-image: url("/images/8.jpg");
    min-height: 1000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.second{
    padding: 120px 0;
    width: 50%;
    margin: auto;
    
}

.container-second{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px;
}
.row-second{
    flex: 25%;
    max-width: 25%;
    padding: 0 10px;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  justify-content: center;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 40%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
 -webkit-filter: grayscale(0) blur(0);
	filter: grayscale(0) blur(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.column img:hover {
-webkit-filter: grayscale(60%) blur(3px);
	filter: grayscale(60%) blur(3px);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.image{
    position: relative;
    text-align: center;
    color: black;
    margin-bottom: 30px;
}

.image .test{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Noto Sans', sans-serif;
    font-size: 60px;
    opacity: 0;
}

.row .image img{
    opacity: 1;
    transition:all .3s linear;
}

.row .image:hover img{
    opacity: 0.6;
    transform: scale(1.1);
}
.image:hover .test{
    opacity: 1;
}
.wrapper {
  
	margin: 0 auto;
  
}
header {
  
	height: 70px;
	background-color: rgba(0,0,0,.5);
	width: 100%;
	position: fixed;
  	z-index: 2;
  
}

.checkbtn{
	flex: 60%;
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

@media (max-width: 1300px){
	
	 .total{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	justify-content: center;
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,.7);
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
	.total ul li,.total .btn{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  .total ul li a,.total .btn{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ .total{
    left: 0;
  }
	.checkbtn{
    display: block;
  }
  

}
.wrapper{
  display: flex;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  margin-top: -6px;
}

.wrapper a {
    
	text-decoration: none;
	font-size: 30px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 5px;

}


.total{
	flex: 60%;
	display: flex;
	flex-direction: row;
}
.total .btn .b1{
  
  cursor:pointer;
  display:inline-block ;
  padding: 0.3em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:2em;
  font-size: 18px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  background-color:rgb(241, 112, 6);;
  text-align:center;
  transition: all 0.2s;
}
.wrapper .btn .b1:hover{
  border-color: rgba(255,255,255,1);
}
.logo img {
  
    height: 90px;
    width: 120px;
    background-size: auto 68px;
}
.nav {
  flex: 60%;
  justify-content: center;
  font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
    transition: all .35s ease;
}
.nav * {
  
    box-sizing: border-box;
    transition: all .35s ease;
  }
  
  .nav li {
    
    display: inline-block;
    list-style: outside none none;
    margin: .5em 1em;
    padding: 0;
  }
  
  .nav a {
    
    padding: .5em .8em;
    color: rgb(255, 255, 255);
    position: relative;
    text-decoration: none;
    font-size: 20px;

  }
  
  .nav a::before,
  .nav a::after {
    
    content: '';
    height: 14px;
    width: 14px;
    position: absolute;
    transition: all .35s ease;
    opacity: 0;
  }
  
  .nav a::before {
    content: '';
    right: 0;
    top: 0;
    border-top: 3px solid rgb(241, 112, 6);
    border-right: 3px solid rgb(241, 112, 6);
    transform: translate(-100%, 50%);
  }
  
  .nav a:after {
    content: '';
    left: 0;
    bottom: 0;
    border-bottom: 3px solid rgb(241, 112, 6);
    border-left: 3px solid rgb(241, 112, 6);
    transform: translate(100%, -50%)
  }
  
  .nav a:hover:before,
  .nav a:hover:after{
    transform: translate(0,0);
    opacity: 1;
  }
  
  .nav a:hover {
    color: rgb(241, 112, 6);
  }
  
  
.footer {
  overflow: hidden;
  background: #000000;
  color: #d3d3d3;
  height: 400px;
  width: 100%;
  bottom: 0;
}

.footer .footer-content {
  height: 350px;
  display: flex;
}

.footer .footer-content .footer-section {
  flex: 1;
  padding: 25px;
  text-align: center;
}

.footer .footer-content h1,
.footer .footer-content h2 {
  font-family: 'Titillium Web', sans-serif;
  color: rgb(255, 115, 0);
}
.footer .footer-content .about p {
  padding-bottom: 15px;
  padding-top: 20px;
}
.footer .footer-content .about .contact span {
  display: block;
  font-size: 1.1em;
  margin-bottom: 8px;
  padding-bottom: 15px;
}

.footer .footer-content .about .socials a {
  border: 1px solid rgb(255, 255, 255);
  width: 45px;
  height: 35px;
  padding-top: 6px;
  text-align: center;
  display: inline-block;
  font-size: 1.3em;
  border-radius: 5px;
  transition: all .3s;
  color: white;
}

.footer .footer-content .about .socials a:hover {
  border: 1px solid white;
  color: rgb(255, 153, 0);
  transition: all .3s;
}

.footer .footer-content .links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .footer-content .links ul a {
  text-decoration: none;
  display: block;
  opacity: 0.5;
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  transition: all .3s;
  color: white;
}

.footer .footer-content .links ul a:hover {
  color: rgb(255, 94, 0);
  opacity: 1;
  margin-left: 15px;
  transition: all .3s;
}

.newsletter {
    background-color: #000000;
    padding: 100px 15px;
    color: #fff;
    text-align: center;
}
.newsletter h2, .newsletter p{
  padding-top: 20px;
  padding-bottom: 30px;
    text-align: center;
    line-height: 34px;
}
.newsletter-box {
    margin: 20px auto;
    display: table;
}
.newsletter-box i {
    background: #f7f7f7;
    width: 60px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: #ff7300;
    border-right: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 42px;
}
.newsletter .newsletter-box button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #ff7300;
    color: #fff;
    padding: 0 15px;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid #fff;
    border-left: 0px;
    height: 42px;
    margin-top: 5px;
}
.emailbox{
    border: none;
    outline: none;
}
.emailbox {
    width: 0px;
    height: 42px;
    transition: 0.6s;
    font-size: 16px;
}
.newsletter-box:hover > .emailbox, .emailbox:focus{
    width: 280px;
    padding: 0 10px;
}

.footer .footer-bottom {
  background: #343a40;
  color: #686868;
  height: 50px;
  width: 100%;
  text-align: center;
  position: inhe;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

.container-menu {
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
    max-width: 1200px;
    padding: 1.5em;
  }
  
  .menu {
    font-family: "Inter", sans-serif;
    font-size: 14px;
  }
  
  .menu-group-heading {
    margin: 0;
    padding-bottom: 1em;
    border-bottom: 2px solid #ccc;
  }
  
  .menu-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 1.5em 0;
  }
  
  .menu-item {
    display: flex;
  }
  
  .menu-item-image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    object-fit: cover;
    margin-right: 1.5em;
  }
  
  .menu-item-text {
    flex-grow: 1;
  }
  
  .menu-item-heading {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
  
  .menu-item-name {
    margin-right: 1.5em;
  }
  
  .menu-item-description {
    display: flex;
    flex-wrap: wrap;
    max-height: 100px;
    height: 90px;
    overflow: auto;
    justify-content: space-evenly;
    font-size: 20px;
    font-family: 'Titillium Web', sans-serif;
  }
  
 
  
  
  .add input{
    width: 60px; 
    height: 60px;
    border-radius: 50%; 
    text-align: center;
    transition: box-shadow .3s;
    background: lightgrey;
    cursor: pointer;
    border: 0;
    appearance: none;
    position: relative;
   }
   
   .add input:hover{
	background: white;
}
   
  .add input[type="checkbox"]::after{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
       font-size: 40px;
       content: '+';
       color: rgb(0, 0, 0);
   }
  
  .add input:checked{ 
	box-shadow: inset 0 0 0 33px #32a852;    
    content: '+';
    color: white;
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(92, 92, 92, 0.521);
    z-index: 2;
  }
  .orario{
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 25%;
      height: 50%;
      background-color: white;
  }
  .orario .titolo{
      flex: 33%;
      text-align: center;
  }
  .orario .time{
      flex: 33%;
      text-align: center;
  }
 .time input[type=time]{
     font-size: 25px;
    background: #EAEFF1;
    border: none;
    border-bottom: 4px solid #40d2ff;
}
  .orario .invio{
    position: absolute;
    bottom: 8px;
    right: 16px;
      flex: 33%;
  }
  .orario .invio .bt1{
  
    cursor:pointer;
    display:inline-block ;
    padding: 0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    font-size: 18px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:rgb(255, 105, 5);;
    text-align:center;
    transition: all 0.2s;
  }
  @media screen and (min-width: 992px) {
    .menu {
      font-size: 16px;
    }
  
    .menu-group {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .menu-item-image {
      width: 125px;
      height: 125px;
    }
 }
    

.area{
    display: flex;
    flex-direction: column;
}	
.area .immagine{
	margin-top: 7%;
    margin-left: 25%;
    margin-right: 25%;
}
.area .titolo{
	text-align: center;
    font-size: 22px;
    padding-top: 2%;
    padding-bottom: 2%;
}
.area .introduzione{
	font-family: "PostGrotesk",sans-serif;
	text-align: left;
    font-size: 17px;
    padding: 4%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: black;
    color: white;
}
.area .storia{
	font-family: "PostGrotesk",sans-serif;
	text-align: left;
    font-size: 18px;
    padding: 4%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: orange;
    color: black;
}
.area .gustalo{
	font-family: "PostGrotesk",sans-serif;
	text-align: left;
    font-size: 18px;
    padding: 4%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: white;
    color: black;
    /* border: 3px solid brown; */
}  
body.modal-open {
    overflow: auto!important;
    padding: 0px!important;
}