    <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/admin.html :: headerfiles(title='Nuova Pizza')"> 
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">

</head>
<header th:replace="fragments/admin.html :: header"></header>
<div th:replace="accountOption :: modal">modal</div>
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ced3f913ea.js" crossorigin="anonymous"></script>
</head>
<body>
<form th:action="@{/newpizza}" method="POST" th:object="${pizza}" enctype="multipart/form-data">
<div class="PizzaForm">
    <div class="pizza_foto">
        <label  for="myfile"><img src="images/foto.png"></label> 
        <input  type="file"  name="file">
     </div>
    <div class="format">
    <div class="name"> 
        <h1>Nome</h1>
        <input type="text" th:field="*{nome}">
    </div>

    <div class="prezzo"> 
        <h1>Prezzo</h1>
        <div class="price_border">
        <input class="number" type="number" th:field="*{prezzo}">
        
        </div>
    </div>

    <div class="ingredienti">
        <h2 class="primo">Ingredienti:</h2>
        <div class="secondo">
        <div th:each="i : ${Ingredienti}">
        <div class="add">
                    <input type="checkbox" checked="checked"  th:field="*{ingredientiBase}"
            		th:value="${i.id}"/><p th:text="${i.nome}"></p>
        </div>

        </div>
        </div>
 </div>
</div>
 



</div>
<div class="invio">
				<span><button class="bt1" type="submit">Crea</button></span>
			</div>
</form>

</body>
</html>
    </body>
</html>