   <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head  th:replace="fragments/base.html :: headerfiles(title='Pizza Revolution')"> 
<title>Pizza Revolution</title>

</head>
<body>


<header th:replace="fragments/base.html :: header"></header>
<div class="first">
    <div class="img">
 <p class="head">PIZZA REVOLUTION</p>
 <p><span>-----</span></p>
 <P class="slogan"> Qui il vero suppli al telefono</P>
    </div>
</div>
<div class="background">
</div>

    <div th:replace="loginForm :: login">modal</div>
    
<div class="first">
    <div class="img">
 <p class="head">PIZZA REVOLUTION</p>
 <p><span>-----</span></p>
 <P class="slogan"> Qui il vero suppli al telefono</P>
    </div>
</div>
<div class= "second">
    <div class="container">
        <div class="row">
                <div class="image">
            <img src="images/suppli.jpg" style="width: 100%" alt="">
            <div class="test">
                <p>SUPPLI</p>
        </div>
</div>
            <div class="image">
                <img src="images/tonde.jpg" style="width: 100%" alt="">
                <div class="test">
                    <p>Pizza</p>
            </div>
            </div>
        
    
        
    </div>
    <div class="row">
        <div class="image">
        <img src="images/chi siamo.jpg" style="width: 85%" alt="">
        <div class="test">
            <p>Chi Siamo</p>
    </div>
    </div>
        <div class=image>
        <img src="images/dove siamojpg.jpg" style="width: 94%" alt="">
        <div class="test">
            <p>Dove Siamo</p>
    </div>
    </div>
    </div>
    </div>
</div>
<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>