   <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head  th:replace="fragments/base.html :: headerfiles(title='Pizza Revolution')"> 
<title>Pizza Revolution</title>

</head>

<body>


<header th:replace="fragments/base.html :: header"></header>
<div class="first">
    <div class="img">
 <p class="head">PIZZA REVOLUTION</p>
 <div class="line"></div>
 <P class="slogan"> Qui il vero suppli al telefono</P>
    </div>
</div>
<div class="background">
</div>


    
<div class="first">
    <div class="img">
 <p class="head">PIZZA REVOLUTION</p>
 <div class="line"></div>
 <P class="slogan"> Qui il vero suppli al telefono</P>
    </div>
</div>
<div class="second">

<div class="row"> 
  <div class="column">
  
    <img src="images/dove siamojpg.jpg" style="width:100%">
    <img src="images/chi siamo.jpg" style="width:100%">

  </div>
  <div class="column">
    <img src="images/suppli.jpg" style="width:100%">
    <img src="images/tonde.jpg" style="width:100%">

  </div>  
</div>
</div>
<footer th:replace="fragments/base.html :: footer"></footer>
<div th:replace="loginForm :: login"></div>
</body>
</html>