<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head  th:replace="fragments/default.html :: headerfiles(title='Menu')">  
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ced3f913ea.js" crossorigin="anonymous"></script>
</head>

<body>
<div th:if="${role}=='ADMIN'">
		<header th:replace="fragments/admin.html :: header"></header>
	</div>
	<div th:unless="${role}=='ADMIN'">
	<header th:replace="fragments/default.html :: header"></header>
	</div>
	
<div th:replace="accountOption :: modal">modal</div>
<form th:action="@{/ordine}" method="POST" th:object="${ordine}">

<select hidden="true " th:field="*{cliente}" required>
				<th:block th:each="u :${utente}">
					<option th:value="${u.id}"/>
				</th:block> 
			</select>
  <div class="container-menu">
    <div class="menu">
      <h2 class="menu-group-heading">
        Pizza
      </h2>
      <div class="menu-group">
      <div th:each="p : ${Pizze}">
      <div class="menu-item">
          <img class="menu-item-image" th:src="@{${'images/' + p.nome +'.jpg'}}" alt="Bruschetta">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name"th:text="${p.nome}">pizza</span>
              <span class="menu-item-price" th:text="${p.prezzo} + '€'">prezzo</span>
            </h3>
            <p class="menu-item-description">
              Nunc efficitur felis vel mi efficitur, sed molestie sem scelerisque. Fusce orci risus,
              congue eu mauris nec, pretium tincidunt nulla.
            </p>
          </div>
         <div class="add">
              
            <input type="checkbox" checked="checked"  th:field="*{pizze}"
            			th:value="${p.id}"/>
          </div>
        </div>
            
      </div>
      </div>
      <h2 class="menu-group-heading">
        Dessert
      </h2>
      <div class="menu-group">
        <div class="menu-item">
          <img class="menu-item-image" src="https://dummyimage.com/600x400/f00/000" alt="Bruschetta">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Bruschetta</span>
              <span class="menu-item-price">$12.90</span>
            </h3>
            <p class="menu-item-description">
              Nunc efficitur felis vel mi efficitur, sed molestie sem scelerisque. Fusce orci risus,
              congue eu mauris nec, pretium tincidunt nulla.
            </p>
          </div>
        </div>
        <div class="menu-item">
          <img class="menu-item-image" src="https://dummyimage.com/600x400/00f/000" alt="Bruschetta">
          <div class="menu-item-text">
            <h3 class="menu-item-heading">
              <span class="menu-item-name">Bruschetta</span>
              <span class="menu-item-price">$12.90</span>
            </h3>
            <p class="menu-item-description">
              Nunc efficitur felis vel mi efficitur, sed molestie sem scelerisque. Fusce orci risus,
              congue eu mauris nec, pretium tincidunt nulla.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="overlay" id="overlay1">
      <div class="orario">
      <div class="titolo"><h2>ORARIO</h2></div>
      <div class="time">
      <input th:field="*{orario}" type="time" list="calltimeslist">
    </div>
      <datalist id="calltimeslist">
		<option th:each="orario : ${allOrari}" th:value="${orario}" th:text="${orario}"></option>

</datalist>
 <div class="invio">
				<span><button class="bt1" type="submit">Invio</button></span>
			</div>
  </div>
   </div>
   <div>
				<span><a href="#overlay1">Next</a></span>
			</div>
 
</form>
</body>

</html>