    <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/admin.html :: headerfiles(title='Ordine')"> 
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ced3f913ea.js" crossorigin="anonymous"></script>
</head>
<header th:replace="fragments/admin.html :: header"></header>
<div th:replace="accountOption :: modal">modal</div>
<style>
.dettagli{
	margin-top: 130px;
	margin-left:100px;
	font-size: 23px;
	border:2px solid black ;
}

</style>

<body>
<div class="dettagli">
<p>Cliente: <span th:text="${ordine.cliente.nome}"></span></p>
<p>Idirizzo: <span th:text="${ordine.cliente.indirizzo}"></span> </p>
<p >Fattorino: <span th:text="${ordine.fattorino.nome}"></span> </p>
</div>
<table class="tabella">
  <tr>
  <th>Pizze</th>
  <th>Prezzo</th>
  </tr>
  <div th:each="p : ${ordine.pizze}">
  <tr>
  <td th:text="${p.nome}">ordine</td>
  <td th:text="${p.prezzo}">orario</td>
  </tr>
  </div>
  <tr class="blank">
  <th></th>
  <th  th:text="${ordine.totale}">Totale</th>
  </tr>
</table>

</body>
</html>