    <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/admin.html :: headerfiles(title='Storico Ordini')"> 
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/ced3f913ea.js" crossorigin="anonymous"></script>
</head>
<header th:replace="fragments/admin.html :: header"></header>
<div th:replace="accountOption :: modal">modal</div>

<body>
<table class="tabella">
  <tr>
  <th>Ordine_Id</th>
  <th>Cliente</th>
  <th>Orario</th>
  <th>Fattorino</th>
  <th>Prezzo</th>
  </tr>
  <div th:each="o : ${ordine}">
  <tr>
  <td  class="pointer"><a th:href="'/det_ordine/'+${o.id}"><span th:text="${o.id}"></span></a></td>
  <td  class="pointer"><a href="#popup"><span th:text="${o.cliente.nome}"></span></a></td>
  <td th:text="${o.orario}">orario</td>
  <td  class="pointer"><a href="#popup"><span th:text="${o.fattorino.nome}"></span></a></td>
  <td th:text="${o.totale}">prezzo</td>
  </tr>
  </div>
  <tr class="blank">
  <th></th>
  <th></th>
  <th></th>
  <th></th>
  <th  th:text="${pippo}">Totale</th>
  </tr>
</table>




</body>
</html>